accelerate==1.1.0
datasets==4.2.0
diffusers==0.35.2
huggingface_hub==0.35.3
lightning==2.5.5
numpy==2.3.4
opencv_python==4.12.0.88
opencv_python_headless==4.12.0.88
pandas==2.3.3
peft==0.17.1
Pillow==12.0.0
prodigyopt==1.1.2
pyiqa==0.1.14.1
python-dotenv==1.2.1
PyYAML==6.0.3
Requests==2.32.5
torch==2.8.0
torchvision==0.23.0
tqdm==4.67.1
transformers==4.57.1
wandb==0.22.3
